@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --color-primary: #00494d;
  --color-secondary: #5e7a7d;
  --color-accent: #26c0ab;
  --color-placeholder: #7f9c9f;
  --color-background: #c5e4e7;
  --color-input-bg: #f4fafa;
  --color-white: #ffffff;
  --color-error: #dd7461;

  --fs-xl: 4.2rem;
  --fs-500: 3rem;
  --fs-400: 2.4rem;
  --fs-300: 2rem;
  --fs-200: 1.5rem;
  --fs-100: 1.4rem;

  --radius-container: 20px;
  --radius-input: 5px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Space Mono", monospace;
  background: var(--color-background);
  font-size: var(--fs-400);
  min-height: 100vh;
}

h1 {
  display: none;
}

h2,
h3 {
  font-size: var(--fs-200);
  font-weight: 700;
  margin-top: 0;
}

h2 {
  color: var(--color-secondary);
}

h3 {
  color: var(--color-white);
}

.container {
  background: var(--color-white);
  padding: 3rem;
  border-radius: var(--radius-container);
  max-width: 920px;
}

header {
  text-align: center;
}

.logo {
  margin-bottom: min(8%, 8rem);
}

.grid {
  display: grid;
  row-gap: 4rem;
}

/* Button */
.btn {
  width: 100%;
  font-weight: 700;
  border: none;
  border-radius: var(--radius-input);
  text-align: center;
  padding-block: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.btn--dark {
  background: var(--color-primary);
  color: var(--color-white);
}

.btn--light {
  background: var(--color-accent);
  color: var(--color-primary);
}

.btn--reset {
  text-transform: uppercase;
  font-size: var(--fs-300);
}

.btn--inactive {
  background: #26c0ab88;
  color: var(--color-primary);
  cursor: default;
}

.btn:hover {
  background: #26c0ab88;
  color: var(--color-primary);
}

/* Tips */
.grid--tip-options {
  grid-template-columns: repeat(auto-fit, minmax(117px, 1fr));
  gap: 1.8rem;
}

input[type="radio"] {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  background: var(--color-input-bg);
  border: none;
  border-radius: var(--radius-input);
  padding: 1rem 2rem;
  color: var(--color-primary);
  font-weight: 700;
  text-align: right;
  width: 100%; /* input has a default size on its own */
}

.input-grp .icon {
  position: absolute;
  padding: 1rem 2rem;
}

.input--error {
  position: relative;
}

.input--error .input-grp::before {
  content: "Can't be zero";
  position: absolute;
  color: var(--color-error);
  font-size: var(--fs-200);
  font-weight: 700;
  top: 0;
  right: 0;
}

.input::placeholder {
  color: var(--color-placeholder);
}

.input--custom-tip::placeholder {
  color: var(--color-secondary);
}

.input:focus {
  outline: none;
  border: 2.5px solid var(--color-accent);
  caret-color: var(--color-accent);
}

.input--error .input:focus {
  border: 2.5px solid var(--color-error);
  caret-color: var(--color-error);
}

/* input[type="radio"] + .btn {
  background: var(--color-primary);
  color: var(--color-white);
}

input[type="radio"]:checked + .btn {
  background: var(--color-accent);
  color: var(--color-primary);
} */

/* Bill Display */
.container--display {
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.display__content {
  margin-block: 2rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.display__title {
  margin: 0;
}

.display__title span {
  display: inline-block;
  width: 100%;
  margin-top: 0.5rem;
  font-size: var(--fs-100);
  color: var(--color-placeholder);
}

.display__amount {
  font-size: var(--fs-500);
  font-weight: 700;
  color: var(--color-accent);
  margin: 0;
}

/* Attributions */
.attribution {
  margin-top: 0.5rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 700;
  transition: color 0.1s ease-in;
}

.attribution a:hover {
  color: var(--color-accent);
}

@media screen and (max-width: 599px) {
  .logo {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 600px) {
  .grid--2-colms {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }

  .container--display {
    grid-column: 2/3;
    grid-row: 1/4;
  }

  .container--display .btn {
    margin-top: auto;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  main > .container {
    margin-inline: auto;
  }
}
